<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @tweets.each do |e| %>
    <p>

            <span>近畿大学</span>
            <span>@kinkidaigakuPR</span>
        <br>
        <%= e.message %>
        <%= ((Time.current - e.tdate)/60).to_i %>分
        <div class="dropdown">
            <button>・・・</button>
            <div class="dropdown-content">
                <%=link_to '削除', tweet_path(e), data: { turbo_method: :delete } %>
                <%=link_to '表示', tweet_path(e) %>
                <%=link_to '編集', edit_tweet_path(e) %>
            </div>
        </div>
        <br>
        <%= image_tag 'a.jpg'%>
        <br>
        <span>コメント数:</span>
        <span>14</span>
        <span>リツイート:</span>
        <span>14</span>
        <span>いいね:</span>
        <span>14</span>
    </p>
<% end %>


